@import url(./assets/css/toggle.css);

:root {
  font-size: 62%;
  --bg-color: hsl(215, 28%, 17%);
  --bg-cards: hsl(221, 39%, 11%);
  --text-color: #f1f1f1;
  --text-color: hsla(230, 100%, 9%, 1);
  --button-color: hsl(228, 81%, 59%);
  --hover-color: hsl(230, 57%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 8rem 2rem;
}

/* .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 79%;
}

.wrap .card {
  display: flex;
  width: 11rem;
  height: 11rem;
  background: #f1f1f1;
  border-radius: 24px;
}

.long {
  flex: 1;
} */

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.8rem 0.8rem;
  grid-auto-flow: row;
  grid-template-areas:
    "twitter toggle discord"
    "music music git"
    "status articles articles"
    "location location email"
    "location location hours";
  width: 100%;
  height: 100%;
}

.wrap .card {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: var(--bg-cards);

  border-radius: 20px;
  overflow: hidden;
}

.card a i {
  position: absolute;
  color: #f1f1f1;
  font-size: 1.7rem;
  right: 2rem;
  bottom: 1rem;
}

.wrap .card a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text-color);
}

.twitter {
  grid-area: twitter;
  transition: all 0.2s ease-in-out;
}

.twitter a svg {
  width: 40%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.twitter:hover {
  scale: 0.97;
}

.twitter:hover a svg {
  width: 45%;
}

.twitter a svg path {
  fill: #f1f1f1;
}

/* =============== Toggle =============== */

.toggle {
  grid-area: toggle;
}

.toggle label {
  scale: 0.5;
}
/* =============== Discord =============== */

.discord {
  grid-area: discord;
  transition: all 0.2s ease-in-out;
}

.discord a {
  background-image: url(./assets/images/discord-logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 63%;
}

.discord:hover {
  scale: 0.97;
}

.discord a:hover {
  background-image: url(./assets/images/discord-gif.gif);
  background-size: 160%;
}

/* =============== ???? =============== */

.music {
  grid-area: music;
}

/* =============== ????? =============== */

.wrap .git {
  grid-area: git;

  transition: all 0.2s ease-in-out;
}

.wrap .git::before {
  content: "";
  background-image: url("https://media.tenor.com/jpkZvhLgqtYAAAAC/%D0%BF%D1%80%D0%BE%D0%B2%D0%B5%D1%80%D0%BA%D0%B0-codes.gif");
  background-size: 300%;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrap .git:hover {
  scale: 0.97;
}

.wrap .git a svg {
  width: 50%;
  height: 50%;

  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.wrap .git:hover a svg {
  width: 55%;
  height: 55%;
  opacity: 1;
}

.wrap .git a svg path {
  fill: #f1f1f1;
}

/* =============== status =============== */

.status {
  grid-area: status;
}

/* =============== projects =============== */

.articles {
  grid-area: articles;
}

/* =============== location =============== */

.location {
  grid-area: location;

  display: flex;
  flex-wrap: wrap;
}

.location #time {
  border: 1px solid lime;
  height: 50%;
  width: 50%;
}

.location #temp {
  border: 1px solid lime;
  height: 50%;
  width: 50%;
}

.location #condition {
  border: 1px solid lime;
  height: 50%;
  width: 50%;
  flex: 1;
}

.location #nada {
  border: 1px solid lime;
  height: 50%;
  width: 50%;
}

/* =============== email =============== */

.email {
  grid-area: email;
}

/* =============== hours =============== */

.hours {
  grid-area: hours;
}
