:root {
  font-size: 62%;
  --bg-color: #edf2ff;
  --text-color: hsla(230, 100%, 9%, 1);
  --button-color: hsl(228, 81%, 59%);
  --hover-color: hsl(230, 57%, 50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {
  --bg-color: hsl(243, 100%, 7%);
  --text-color: white;
  --button-color: hsl(228, 81%, 59%);
  --hover-color: hsl(230, 57%, 50%);
}

.wrapper {
  text-align: center;
  width: 30rem;
  margin: 6rem auto;
}

#avatar img {
  width: 100%;
  max-width: 10rem;
  border-radius: 6rem;

  padding: 0.2rem;
  border: #4263eb solid 0.4rem;
  background: white;

  transition: 400ms;
}

#avatar img:hover {
  scale: 1.05;
}

h1 {
  font-size: 3.2rem;
  font-weight: 500;

  padding-top: 2.4rem;
  padding-bottom: 0.8rem;
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  opacity: 0.9;
  font-size: 1.4rem;

  padding-top: 0.8rem;
  padding-bottom: 4.8rem;
}

body {
  background: var(--bg-color);
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

p {
  font-size: 1.2rem;
  font-weight: 400;

  color: var(--text-color);
}

ul {
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1.6rem 8rem;
  gap: 1rem;
  height: 5.3rem;

  margin-bottom: 1.6rem;

  background: var(--button-color);
  border-radius: 0.6rem;

  transition: 300ms;
}

ul li a:hover {
  background: var(--hover-color);
  scale: 1.04;
}

ul li a:active {
  background: #6742eb;
}

ul li a i {
  font-size: 2rem;
}

footer {
  padding-top: 4.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  opacity: 0.8;
}

footer span:hover {
  color: rgb(0, 255, 42);
}
