@import url(./assets/css/toggle.css);

:root {
  font-size: 62%;
  --bg-color: hsl(215, 28%, 17%);
  --bg-cards: hsl(221, 39%, 11%);
  --text-color: #f1f1f1;
  --text-color: hsla(230, 100%, 9%, 1);
  --button-color: hsl(228, 81%, 59%);
  --hover-color: hsl(230, 57%, 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 8rem 2rem;
}

/* .wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  width: 79%;
}

.wrap .card {
  display: flex;
  width: 11rem;
  height: 11rem;
  background: #f1f1f1;
  border-radius: 24px;
}

.long {
  flex: 1;
} */

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.8rem 0.8rem;
  grid-auto-flow: row;
  grid-template-areas:
    "Twitter toggle discord"
    "music music cat"
    "status articles articles"
    "location location email"
    "location location hours";
  width: 100%;
  height: 100%;
}

.wrap .card {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bg-cards);

  border-radius: 20px;
  overflow: hidden;
}

.twitter {
  grid-area: Twitter;
  transition: all 0.2s ease-in-out;
}

.twitter a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter a svg {
  width: 40%;
  height: auto;
  transition: all 0.2s ease-in-out;
}

.twitter:hover {
  scale: 0.97;
}

.twitter:hover a svg {
  width: 45%;
}

.twitter a svg path {
  fill: #f1f1f1;
}

/* =============== Toggle =============== */

.toggle {
  grid-area: toggle;
}

.toggle label {
  scale: 0.5;
}
/* =============== Discord =============== */

.discord {
  grid-area: discord;
}

/* =============== ???? =============== */

.music {
  grid-area: music;
}

/* =============== ????? =============== */

.cat {
  grid-area: cat;
}

/* =============== status =============== */

.status {
  grid-area: status;
}

/* =============== projects =============== */

.articles {
  grid-area: articles;
}

/* =============== location =============== */

.location {
  grid-area: location;
}

/* =============== email =============== */

.email {
  grid-area: email;
}

/* =============== hours =============== */

.hours {
  grid-area: hours;
}
